<h2>
    <small>{{title}}</small>
    <button role="button" class="btn btn-primary" {{action "openNewCardDialog"}}>
        Create Card
    </button>
</h2>
<div class="columns row">
    {{#each column in columns}}
        {{kanban-column position=column.position description=column.description cards=column.cards delegate=controller}}
    {{/each}}
</div>

{{#if newCardDialogVisible}}
    {{new-card-dialog parent=model action="dismissNewCardDialog"}}
{{/if}}