<h2><small>{{title}}</small></h2>
<div class="columns row">
    {{#each column in columns}}
        {{kanban-column position=column.position description=column.description cards=column.cards}}
    {{/each}}
</div>