.navbar {

    .container-fluid,
    .navbar-collapse,
    .navbar-form {
        padding-right: 0px;
    }

    .navigation-pages {
        a {
            text-transform: capitalize;
        }
    }

    .navbar-form {
        .form-group {
            width: 90px;
            input.form-control {
                width: 100%;
            }
        }
    }

    .navbar-text {
        margin-right: 0px;
    }

    .btn-link {
        color: #2a6496;
    }
}

.register-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

    .registration-form {
        background-color: white;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 500px;
        padding: 50px;
        height: 390px;
        border-radius: 5px;
    }

    .form-control-static {
        color: #a94442;
    }
}