<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{column.name}}</h3>
    </div>
    <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin varius purus ut pulvinar malesuada. Integer sodales odio at viverra rutrum. Proin in sodales sem. Vivamus in imperdiet tortor, eget tempus leo. Vivamus faucibus mauris eget ornare malesuada. Nam id placerat nulla. Morbi ultricies porttitor fermentum.
        <br />
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent fermentum imperdiet erat nec ornare. Aliquam porta in mauris sed gravida. Nulla id lorem rhoncus, porta elit eu, commodo dolor. Quisque id libero neque. Suspendisse vestibulum sed nisi et sagittis. Phasellus sit amet nunc neque.
        <br />
        Pellentesque eu purus nulla. Vestibulum euismod orci eu diam viverra porttitor. Integer pretium accumsan consequat. Etiam a ligula in nisi faucibus ultricies a mattis felis. Curabitur imperdiet enim ut arcu ultrices, nec mollis arcu placerat. Maecenas laoreet sed diam nec cursus. Praesent aliquet lectus risus, feugiat ornare neque tincidunt a. Nulla ultrices consequat pellentesque. Cras ultrices, leo sit amet volutpat mattis, justo ligula dictum odio, at ornare quam massa ut velit. Morbi commodo augue ac neque vehicula, vel hendrerit mauris commodo.
    </div>
</div>