<div {{bind-attr class=":well activeCard::hidden"}}>&nbsp;</div>
<div {{bind-attr class=":panel dragging:panel-primary:panel-info"}}>
    <div class="panel-heading">
        {{name}}
    </div>
</div>