.kanban-column {
    padding-left: 2px;
    padding-right: 2px;

    .panel {
        .panel-body {
            padding: 5px 5px 0 5px;
        }
    }

    .bottom-dropzone {
        .well {
            margin-bottom: 5px;
            background-color: white;
        }

        &.active .well {
            background-color: #f5f5f5;
        }
    }
}