.kanban-column {
    padding-left: 2px;
    padding-right: 2px;

    .panel {
        .panel-body {
            padding: 5px 5px 0 5px;
        }
    }

    .bottom-dropzone {
        margin-bottom: 5px;
    }
}