.kanban-column {
    padding-left: 2px;
    padding-right: 2px;

    .panel {
        .panel-body {
            padding: 5px 5px 0 5px;
        }
    }

    .bottom-dropzone {
        .well {
            margin-bottom: 5px;
            opacity: 0.0;
        }

        &.active .well {
            opacity: 1.0;
        }
    }
}