<div class="about-page container">
    <h1>Simply Kanban</h1>

    <p>Kanban ... simply!</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras augue magna, euismod eget vestibulum non, rutrum et
        neque. Donec sed lorem nec tellus scelerisque tempor a ut diam. Morbi non pulvinar libero, ut tincidunt quam.
        Proin quis pulvinar lacus. Fusce condimentum dolor a sem pretium, id adipiscing nunc placerat. Nam et quam
        varius, gravida odio non, molestie mi. Mauris volutpat pretium condimentum. Morbi eu urna euismod, euismod felis
        eget, sollicitudin purus.</p>

    <p>Integer feugiat fringilla mi, sodales suscipit mi imperdiet id. Maecenas felis augue, gravida vitae aliquam
        faucibus, hendrerit commodo nisi. Aenean mauris magna, mollis eu leo et, gravida semper odio. Aenean adipiscing
        orci pharetra tellus tempus molestie. Donec sed pretium lectus, vitae consectetur justo. Donec pellentesque non
        lorem sit amet imperdiet. Vestibulum vehicula felis eget ligula egestas, a interdum risus molestie. In egestas
        vestibulum eros non ultricies. Curabitur dolor libero, iaculis quis tincidunt eget, porttitor sit amet odio. In
        rutrum velit sed scelerisque suscipit. Vivamus placerat arcu imperdiet congue feugiat. Cras in mauris tempor,
        vulputate est ac, varius ipsum. Nullam pharetra non diam sed facilisis. Cras mi odio, laoreet non erat vel,
        porta varius tortor. Mauris pretium consequat magna eget facilisis.</p>
</div>
