<div class="container">
    <h3><small>Your Projects</small></h3>
    <ul class="list-group">
        {{#each project in controller}}
            <li class="list-group-item">
                <h4><a {{bind-attr href=project.kanbanHref}}>{{project.name}}</a>
                    <small>{{project.description}}</small>
                </h4>
            </li>
        {{/each}}
        <li class="list-group-item">
            {{new-project-control}}
        </li>
    </ul>
</div>