<div class="row login-page">
    <div class="col-md-5">
        <h6>Login</h6>
        <form role="form">
            <div class="form-group">
                <label for="username">Username or Email</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-default">Login</button>
        </form>
    </div>
    <div class="col-md-2">
        <!-- spacer -->
    </div>
    <div class="col-md-5">
        <h6>Register</h6>
        <form role="form">
            <div class="form-group">
                <label for="signup-username">Username or Email</label>
                <input type="text" class="form-control" id="signup-username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="signup-password">Password</label>
                <input type="password" class="form-control" id="signup-password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="signup-password-repeat">Re-enter Password</label>
                <input type="password" class="form-control" id="signup-password-repeat" placeholder="Re-enter Password">
            </div>

            <button type="submit" class="btn btn-default">Register</button>
        </form>
    </div>
</div>