<div class="project-page container">
    <div class="page-header">
        <span class="h3">
            {{name}}
            <small>{{description}}</small>
        </span>
        <small>{{#link-to 'dashboard'}}switch{{/link-to}}</small>
    </div>

    {{#link-to 'project.board'}}Kanban Board{{/link-to}}

    {{outlet}}
</div>